<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/styles/pinterest.css">

<br>

<div class="container">
  <!-- Categorias -->
  <div class="col-md-2">
      <ul id="categories" class="nav nav-pills nav-stacked">
        <h3>Categories</h3>
        <!-- Render here -->
      </ul>
  </div>

  <!-- Articulos -->
  <div class="col-md-7" role="main">
    <div id="wrapper">
      <div id="columns">
          <!-- Render here -->
      </div>
    </div>

  </div>

  <script type="text/javascript">

    function clickCategoria(elem){

        if(elem == "category_1"){
          var cat = "category_1";
          var id = 1;
        }else{
          var id = elem.id.substring(9);
          var cat = elem.id;
        }

        $("li").removeClass('active');
        $("#" + cat).addClass('active');

        $("#columns").empty();

        $.ajax({
           type:"GET",
           dataType: 'json',
           url:'/article/getArticleByCategoryId?idCategory='+ id,
           data: {},
           success: function(data){
             console.log(data);
             $("#span_category_" + id).html(data.length);
             if(data.length > 0){
                for (var i=0;i<data.length;i++) {
                    $("#columns").append(
                         "<div class=pin id=pin_article_"+data[i].id+">"
                       + "<a href=/article/show/" +data[i].id+"><img src="+data[i].imageURL+"></a>"
                       + "<h4 id=name_article_"+data[i].id+">"+data[i].name+"</h4>"
                       + "<p> Price: <b class=money id=price_article_"+data[i].id+">"+data[i].price+"</b></p>"
                       + "<hr>"
                       + "<span><img src='/images/add-to-cart.png' id=button_article_"+data[i].id+" onclick='addCart(this)' class=img-add-to-cart></span>"
                       + "<label id=select_article_"+data[i].id+">Quantity: <select><option selected>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select></label>"
                       + "</div>"
                   );       
                 }
               }else{
                  $("#columns").append("Articles coming soon");
               }
             }
             
          });         
    }


    $(document).ready(function(){
      $.ajax({
           type:"GET",
           dataType: 'json',
           url:'/api/getArticleCategories',
           data: {},
           success: function(data){
             console.log(data);
             for (var i=0;i<data.length;i++) {
                if (data[i]!=undefined && data[i]!=null && data[i]!=""){
                      $("#categories").append(
                        " <li id='category_" + data[i].id + "' onclick=clickCategoria(this) style='cursor:pointer;'>"+
                            "<a class=category>"+
                              "<span id=span_category_"+data[i].id+" class='badge pull-right'></span>"+
                               "<b>" + data[i].name.toUpperCase() + "</b>" +
                            "</a>"+
                          "</li>"
                      );
                }                      
             }
           }
          });

        clickCategoria("category_1");

      });


  </script>

</div>