<div style="margin-top:30px" class="container">
	
    <div class="backdrop_graph" style="display:none">
        <p>Procesando Pago...</p>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Product Description</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Billing Address</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Payment</p>
                </a></li>
            </ul>
        </div>
	</div>

    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-10 text-center col-md-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <h4>Shopping Cart</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table" style="margin: 0px auto;display:none" border="0">
                                        <thead >
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Article</th>
                                            <th class="text-center">Unit Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center"></th>
                                            <th class="text-center">Subtotal</th>
                                            <th class="text-center"></th>
                                        </thead>
                                        <tbody id="table-body">
                                                <!-- Render here -->
                                        </tbody>
                                    </table>
                                    <h3 id="error">No Data To Display</h3>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row text-center">
                                    <div class="col-xs-10">
                                        <h4 id="div-total" class="text-right">Total <strong>$</strong><strong id="total">0</strong></h4>
                                    </div>
                                    <div class="col-xs-2">
                                        <button id="activate-step-2" class="btn btn-success btn-lg">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </br></br>
                    </br></br>
            </div>
        </div>
    </div>



    <div class="row setup-content" id="step-2">
        <div class="col-xs-10 col-md-offset-2">
            <div class="col-md-10 text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <h4>Billing Address</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <form id="user_form" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="user-name" name="user-name"  placeholder="First Name">
                                        </div>
                                        <div class="form-group">
                                            <input id="user-last-name" name="user-last-name" type="text" class="form-control" " placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <input id="user-address" name="user-address"  type="text" class="form-control" " placeholder="Address">
                                        </div>
                                        <div class="form-group">
                                            <select id="country" name="country" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <select id="state" name="state" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <select id="city" name="city" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <input id="user-email" name="user-email" type="text" class="form-control" " placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input id="user-phone" name="user-phone" type="text" class="form-control" " placeholder="Phone">
                                        </div>
                                        <button id="btn-step2" type="submit" class="btn btn-lg btn-success" style="float: right;">Payment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-3">
        <div class="col-xs-8 col-md-offset-3">
            <div class="col-md-8 text-center">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="row">
                                    <h4>Payment</h4>
                                </div>
                            </div>
                        </div>
                    <div class="panel-body">
                        <form id="payment_form" class="form-horizontal"  role="form" action="order/create">
                                <p class="payment-errors"></p>
                                <fieldset>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text" placeholder="Name On Card" id="cardname" name="cardname" class="form-control">
                                    </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text"  placeholder="Card Number" id="cardnumber" name="cardnumber" class="form-control">
                                    </div>
                                  </div>


                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="text" placeholder="CVC" id="cvc" name="cvc" class="form-control">
                                    </div>

                                    <div class="col-sm-4">
                                      <input type="text" placeholder="Exp. Month" id="month" name="month" class="form-control">
                                    </div>

                                    <div class="col-sm-4">
                                      <input type="text" placeholder="Exp. Year" id="year" name="year" class="form-control">
                                    </div>
                                  </div>


                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <div class="pull-right">
                                        <br>
                                        <button id="submit-signin" type="submit" class="btn btn-lg btn-success">Complete Order</button>
                                      </div>
                                    </div>
                                  </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    <div class="modal fade" id="address" data-backdrop="static" 
   data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Your Address</h4>
                </div>
            
                <div class="modal-body">            
                    <div class="row">
                        <div class="col-md-12">
                            <form id="address_form" class="form-horizontal"  role="form" action="/address/create">
                                <fieldset>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text" placeholder="Street" name="street" class="form-control">
                                    </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text"  placeholder="Neighborhood" name="neighborhood" class="form-control">
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <input type="text" placeholder="Number" name="number" class="form-control">
                                    </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <select name="id_city" id="id_city" class="form-control"><option>Select City</option></select>
                                    </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-6">
                                      <select name="id_state" id="id_state" placeholder="State" class="form-control"><option>Select  State</option></select>
                                    </div>

                                    <div class="col-sm-6">
                                      <input type="text" placeholder="Zipcode" name="zipcode" class="form-control">
                                    </div>
                                  </div>


                                  <!-- Text input-->
                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <select name="id_country" id="id_country" placeholder="Country" class="form-control"><option>Select Country</option></select>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-12">
                                      <div class="pull-right">
                                        <br>
                                        <button id="submit-signin" type="submit" class="btn btn-lg btn-primary">Save Address</button>
                                      </div>
                                    </div>
                                  </div>

                            </fieldset>
                        </form>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.1/js/conekta.js"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
    <script>
   
    Conekta.setPublishableKey('key_LUYetCR5VpoHknb8');
    //Get article list of the JSON saved in LocalStorage
    if(localStorage.getItem('data')!=null && localStorage.getItem('data')!= ""){


            $('table').show();
            $("#error").hide();
            //Transform the String generated through JSON.stringify and saved in localStorage in JSON object again
            var restoredData = JSON.parse(localStorage.getItem('data'));


            //Fill the Table
            for (var i=0; i < restoredData.articles.length; i++) {
                if(restoredData.articles[i] != null && restoredData.articles[i] != ""){
                    $("#table-body").append(
                          "<tr id='row_"+i+"'>"
                        + "<td class=id>" + restoredData.articles[i].id + "</td>"
                        + "<td><b>" + restoredData.articles[i].name + "<b></td>"
                        + "<td><span class=price>" + restoredData.articles[i].price + "</span></td>"
                        + "<td><span class=quantity>" + restoredData.articles[i].quantity +"</span></td>"
                        + "<td>"
                        +   "<img id='img_less_"+restoredData.articles[i].id+"' src='/images/less.png' style='cursor: pointer;' onclick='lessFunction(this)'>"
                        +   "<img id='img_more_"+restoredData.articles[i].id+"' src='/images/more.png' style='cursor: pointer;' onclick='moreFunction(this)'>"
                        + "</td>"
                        + "<td><span class=subtotal>" + parseFloat(restoredData.articles[i].price) * parseInt(restoredData.articles[i].quantity) + "</span></td>"
                        + "<td><img src='/images/item-remove.png' class='img-remove' id=button_article_"+restoredData.articles[i].id+" style='width:20px; cursor: pointer;' onclick=removeItem(this)></td>"
                        + "<tr>"
                    );
                }       
            }

            /***************  Functions ******************/     
            function calculateTotal(){
                var total = 0.00;
                var subtotal = 0.00;

                $("#table-body  tr").each(function(){
                    sub =  $(this).find(".subtotal").html();
                    subtotal = parseFloat(sub);
                    if(sub!=undefined){
                        total += subtotal;
                    }               
                });
                $("#total").html(total);
            }

            function lessFunction(elemento){
                var id = elemento.id;

                //Get the row index; #optional
                var row = $("#" + id).parent().parent().attr("id");

                //Get the quantity
                var actual_quantity = $("#" + row).find(".quantity").html();

                if(parseFloat(actual_quantity) > 1){
                    //Parse
                    var resultado = parseFloat(actual_quantity) - 1;
                    //Show new quantity
                    $("#" + row).find(".quantity").html(resultado);
                    //Show new subtotal
                    var actual_price = $("#" + row).find(".price").html();
                    var subtotal = resultado * parseInt(actual_price);
                    $("#" + row).find(".subtotal").html(subtotal);

                    //Total refresh
                    calculateTotal();
                }       
            }

            function moreFunction(elemento){        

                var id = elemento.id;

                //Get the row index; #optional
                var row = $("#" + id).parent().parent().attr("id");

                //Get the quantity
                var actual_quantity = $("#" + row).find(".quantity").html();
                //Parse
                var resultado = parseFloat(actual_quantity) + 1;
                //Show new quantity
                $("#" + row).find(".quantity").html(resultado);
                //Show new subtotal
                var actual_price = $("#" + row).find(".price").html();
                var subtotal = resultado * parseInt(actual_price);
                $("#" + row).find(".subtotal").html(subtotal);

                //Total refresh
                calculateTotal();
            }


            //Trigger the Function
            calculateTotal();
    }else{
        $("#error").show();
        $('table').hide();
    }

    /***************  Events ******************/
    function removeItem(elem){
        var id = elem.id;

        //Get the row index; #optional
        var row_index = $("#" + id).parent().parent().attr("id");
        row_index = row_index.substring(4);
        delete restoredData.articles[row_index];

        //Update LocalStorage variable; #optional
        localStorage.setItem('data', JSON.stringify(restoredData));

        //Remove the ROW        
        $("#" + id).parent().parent().remove();

        //Reload the page
        location.reload();
    }
     
    $("#btn-step1").click(function(){
        var articlesToBuy = {
           'articles' : []
        };

        var id = "";
        var quantity = "";

        //Get id and quantity by each ROW
        $("#table-body  tr").each(function(){
            id =  $(this).find(".id").html();
            quantity =  $(this).find(".quantity").html();

            if(id!=undefined && quantity!=undefined){
                //PUSH item in variable
                articlesToBuy.articles.push({"id":id, "quantity":quantity});
            }       
                
        });

        //SAVE items in localStorage
        localStorage.setItem('articlesToBuy', JSON.stringify(articlesToBuy));

        //Change Tab
        $('#myTab li:eq(1) a').tab('show');
    });


    /************************************************************************************/  
    /*****************************  LLAMADAS AJAX ***************************************/  
    /************************************************************************************/

    $(document).ready(function(){


    var navListItems = $('ul.setup-panel li a'),
        allWells = $('.setup-content');

    allWells.hide();

    navListItems.click(function(e)
    {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this).closest('li');
        
        if (!$item.hasClass('disabled')) {
            navListItems.closest('li').removeClass('active');
            $item.addClass('active');
            allWells.hide();
            $target.show();
        }
    });
    
    $('ul.setup-panel li.active a').trigger('click');
    
    // DEMO ONLY //
    $('#activate-step-2').on('click', function(e) {
        $('ul.setup-panel li:eq(1)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-2"]').trigger('click');
    });

        // DEMO ONLY //
    $('#activate-step-3').on('click', function(e) {
        $('ul.setup-panel li:eq(2)').removeClass('disabled');
        $('ul.setup-panel li a[href="#step-3"]').trigger('click');
        $(this).remove();
    });


        $("#activate-step-2").click(function(){
            /*************************** Get User Data *****************/
              $.ajax({
               type:"GET",
               dataType: 'json',
               url:'/api/getUserData?userId=' + <%= session.User.id %>,
               data: {},
               success: function(data){
                 console.log(data);
                 for (var i=0;i<data.length;i++) {
                    if (data[i]!=undefined && data[i]!=null && data[i]!=""){
                        $("#user-name").val(data[i].first_name);
                        $("#user-last-name").val(data[i].last_name);
                        $("#user-email").val(data[i].email);
                        $("#user-phone").val(data[i].phone);
                    }                      
                 }
               }
              });    

              //*************************** Get list of Countries *****************/
              $.ajax({
               type:"GET",
               dataType: 'json',
               url:'/api/getCountries',
               data:{},
               success: function(data){
                 for (var i=0;i<data.length;i++) { 
                   $("#country").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );

                   $("#id_country").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );
                 }
               }
              });

              //*************************** Get list of States *****************/
              $.ajax({
               type:"GET",
               dataType: 'json',
               url:'/api/getStates',
               data:{},
               success: function(data){
                 console.log(data);

                 for (var i=0;i<data.length;i++) { 
                   $("#state").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );

                   $("#id_state").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );
                 }
               }
              });
              //*************************** Get list of Cities *****************/
              $.ajax({
               type:"GET",
               dataType: 'json',
               url:'/api/getCities',
               data:{},
               success: function(data){
                 console.log(data);

                 for (var i=0;i<data.length;i++) { 
                   $("#city").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );

                   $("#id_city").append(
                         "<option value="+data[i].id+">" + data[i].name + "</option>"
                   );
                 }
               }
              });

              /*************************** Get User Address *****************/
              <%if (session.User.id_address) { %>
                    var idaddress = <%= session.User.id_address %>;
                    $.ajax({
                       type:"GET",
                       dataType: 'json',
                       url:'/api/getUserAddress?id_address=' + idaddress,
                       data: {},
                       success: function(data){
                         console.log(data);
                         for (var i=0;i<data.length;i++) {
                            if (data[i]!=undefined && data[i]!=null && data[i]!=""){
                                $("#user-address").val(data[i].neighborhood);

                                $("#country option").each(function(){
                                  if ($(this).val() == data[i].id_country)
                                    $(this).attr("selected","selected");
                                });

                                $("#state option").each(function(){
                                  if ($(this).val() == data[i].id_state)
                                    $(this).attr("selected","selected");
                                });

                                $("#city option").each(function(){
                                  if ($(this).val() == data[i].id_city)
                                    $(this).attr("selected","selected");
                                });
                            }                      
                         }
                       }
                      });  
              <% } else { %>    
                    $("#address").modal('show');
              <% } %>    
        });

        $("#address_form").submit(function(e) {
            e.preventDefault();
            var actionurl = e.currentTarget.action;
             $.ajax({
                    url: actionurl,
                    type: 'post',
                    dataType: 'json',
                    data: $("#address_form").serialize(),
                    success: function(data) {
                        if(data.createdAt){
                            location.reload();
                        }
                    }
                });
         });

         var usuario;
         $("#user_form").submit(function(e){
            e.preventDefault();
            usuario = $("#user_form").serialize();
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
         });


         $("#payment_form").submit(function(e){
            $('.backdrop_graph').show();
            e.preventDefault();
            Conekta.charge.create({
              amount: 100000,
              currency: 'MXN',
              description: 'Latest E-Zine',
              card: {
                name: $('#cardname').val(),
                cvc: $('#cvc').val(),
                exp_month: $('#month').val(),
                exp_year: $('#year').val(),
                number: $('#cardnumber').val(),
                address: {
                  street1: 'Alfonso Reyes 231',
                  street2: 'Despacho 112',
                  street3: 'Condesa',
                  city: 'Cuauhtemoc',
                  state: 'DF',
                  country: 'MX',
                  zip: '06100'
                }
              }
            }, conektaSuccessResponseHandler, conektaErrorResponseHandler);
         })


        function conektaSuccessResponseHandler(response) {
            $('.backdrop_graph').hide();
            $(".payment-errors").empty();
            console.log(response);
        }

        function conektaErrorResponseHandler(response) {
            $('.backdrop_graph').hide();
            console.log(response);
            $(".payment-errors").text(response.message);
        }


   });

    

</script>