input[type='text']{
	margin-top: 5px;
}
input[type='password']{
	margin-top: 5px;
}
input[type='submit']{
	/*margin-top: 5px;*/
}
#principal-username{
	color: #29AC10;
	font-style: bold;
}
.navbar-inverse{
	-moz-box-shadow: 0px 2px 3px #362E30;
	-webkit-box-shadow: 0px 2px 3px #362E30;
	-box-shadow: 0px 2px 3px #362E30;
}
#main {
	margin: 30px auto;
	float: none;
	padding: 15px;
}
input[type='text']{
	height: 40px;
}

input[type='password']{
	height: 40px;
}
select {
margin-top: 5px;
}
.money {
    padding: 3px 6px;
    font-size: 100%;
    color: #041F0E;
    background-color: #9BFFA7;
    white-space: nowrap;
    border-radius: 4px;
}
.align-center {
	text-align: center;
}
.form-delete {
	display: -webkit-inline-box;
}
.img-add-to-cart{
	width: 30px !important;
	border-bottom: 0px !important;
	float: right !important;
	cursor: pointer;
}
#cart-index{
	float: right;
	margin-left: 10px;
}
#user_form{
	margin:10px;
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
.backdrop_graph{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.6);
	z-index: 999999;
	display: table;
}
.backdrop_graph p{
	color: white;
	font-size: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.payment-errors{
	color: red;
}
select{
height: 40px!important;
}