<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
<link rel="stylesheet" type="text/css" href="/styles/pinterest.css">

<div class="jumbotron image-src" style="background-image: url('../images/landing.jpg')">
</div>

<input onclick='getCart(this)' type='button' value='Get Cart' />

<div id="wrapper">
  <div id="columns">
      <!--  Render articles -->
  </div>
</div>

<div class="container">
  <div class="align-center">
    <select id="country"></select>
    <select id="state"></select>
    <select id="city"></select>
  </div>
</div>

<script>
   var ids="";

   function addCart(elem){
      var id = elem.id.substring(8);
      ids += id + ","; 
      localStorage.setItem("articles_added", ids);
      elem.style.display = 'none';
   }


   function getCart(elem){
      alert(localStorage.getItem("articles_added"));
   }

  
  $(document).ready(function(){
   //************************************************** Get 5 products
   $.ajax({
    type:"GET",
    dataType: 'json',
    url:'/api/getFiveProducts',
    data:{},
    success: function(data){
      console.log(data);

      for (var i=0;i<data.length;i++) { 
        $("#columns").append(
              "<div class=pin id=article_"+data[i].id+">"
            + "<a href=/article/show/" +data[i].id+"><img src="+data[i].imageURL+"></a>"
            + "<h4>"+data[i].name+"</h4>"
            + "<p> Price: <b class=money>$"+data[i].price+"</b></p>"
            + "<input id=article_"+data[i].id+" onclick='addCart(this)' type='button' value='Add to Cart' />"
            + "</div>"
        );
      }
    }
   });
    
   //************************************************** Get list of Countries
   $.ajax({
    type:"GET",
    dataType: 'json',
    url:'/api/getCountries',
    data:{},
    success: function(data){
      console.log(data);

      for (var i=0;i<data.length;i++) { 
        $("#country").append(
              "<option id=country_"+data[i].code+">" + data[i].name + "</option>"
        );
      }
    }
   });
   //************************************************** Get list of States
   $.ajax({
    type:"GET",
    dataType: 'json',
    url:'/api/getStates',
    data:{},
    success: function(data){
      console.log(data);

      for (var i=0;i<data.length;i++) { 
        $("#state").append(
              "<option id=state_"+data[i].id_country+">" + data[i].name + "</option>"
        );
      }
    }
   });
   //************************************************** Get list of Cities
   $.ajax({
    type:"GET",
    dataType: 'json',
    url:'/api/getCities',
    data:{},
    success: function(data){
      console.log(data);

      for (var i=0;i<data.length;i++) { 
        $("#city").append(
              "<option id=city_"+data[i].id_state+">" + data[i].name + "</option>"
        );
      }
    }
   });
   //************************************************** Add to Cart 


  });
  
</script>