  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/styles/landing.css">


	<div class="jumbotron image-src" style="background-image: url('../images/landing.jpg')">

  </div>

 <div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>

      <div class="row">

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

        <div class="item col-6 col-sm-6 col-lg-4">
          <h2 class="pull-left">Heading</h2>
          <img width=300 class="text-center" src="../images/playera1.jpg">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div><!--/span-->

      </div><!--/row-->
    </div><!--/span-->
  </div>

  </div><!--/.container-->






